
		*{
			font-family: sans-serif;
			margin: 0;
			padding: 0;
			border: 0;
			box-sizing: border-box;
		}
		.m-progressbar{
			width: 400px;
			height: 40px;
			background: #f1f2f3;
			position: relative;
			border: 1px solid #3c938b;
			box-shadow: 0 0 3px 0px rgba(0,0,0,0.2)
		}
		.m-progressbar .m-progressbar-value{
			height: 40px;
			background: #3c938b;  
		}
		.m-progressbar .m-progressbar-info{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;  
			align-items: center;  
			color: #a4dad5;
		}

		.m-input-number-container{
			width: auto;
		}
		.m-input-number-container div:nth-child(1){
			display: inline-block;
			background: #3c948b;
		}
		.m-input-number-container div div:nth-child(1){
			display: flex;
			align-items: center;
			border: solid 1px #3c948b;
		}
		.m-input-number{
			height: 30px;
		}
		.m-input-number-buttons, .m-input-number{
			display: inline-block;
		}
		.m-input-number-buttons{
			font-size: 0;
		}
		.m-input-number-buttons button{
			text-align: center;
			background: #3c948b;
			color: #fff;
			cursor: pointer;
		}
		.m-input-number-buttons button:hover{
			background: #4ab5aa;
		}
		.m-polygon-hover{
			background: #3c948b;
		}